sentence-transformers==2.2.2
huggingface-hub>=0.14.1,<0.20.0
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .
