huggingface_hub==0.19.4
sentence-transformers==2.2.2
langchain==0.2.2
flask==2.0.1
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .