<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/387/387569.png"
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>Medical Chatbot</span>
                  <p>Ask me anything!</p>
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body"></div>

            <div id="loader" class="typing-indicator">
              <span></span><span></span><span></span>
            </div>

            <div class="card-footer">
              <form id="messageArea" class="input-group">
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Type your message..."
                  autocomplete="off"
                  class="form-control type_msg"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="submit"
                    id="send"
                    class="input-group-text send_btn"
                  >
                    <i class="fas fa-location-arrow"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
  let isTyping = false;
  let typingTimeout;

  $(document).ready(function () {
    $("#messageArea").on("submit", function (event) {
      event.preventDefault();

      if (isTyping) return;

      isTyping = true;
      $("#send i").removeClass("fa-location-arrow").addClass("fa-stop");

      const date = new Date();
      const str_time = date.getHours() + ":" + date.getMinutes();
      var userText = $("#text").val().trim();

      if (userText === "") return;

      var userHtml = `
        <div class="d-flex justify-content-end mb-4">
          <div class="msg_cotainer_send">${userText}
            <span class="msg_time_send">${str_time}</span>
          </div>
          <div class="img_cont_msg">
            <img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">
          </div>
        </div>`;

      $("#text").val("");
      $("#messageFormeight").append(userHtml);
      $("#loader").show();
      scrollToBottom();

      $.post("/get", { msg: userText })
        .done(function (data) {
          $("#loader").hide();

          // FIX: Use data.answer instead of whole object
          var formattedResponse = formatBotResponse(data.answer);
          var botHtml = `
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                <img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                <span class="msg_text"></span>
                <span class="msg_time">${str_time}</span>
              </div>
            </div>`;

          var botElement = $(botHtml);
          $("#messageFormeight").append(botElement);
          scrollToBottom();
          typeWriter(botElement.find(".msg_text"), formattedResponse, 0);
        })
        .fail(function (err) {
          console.error("Backend error:", err);
        });
    });

    $("#send").on("click", function () {
      if (isTyping) {
        clearTimeout(typingTimeout);
        isTyping = false;
        $("#send i").removeClass("fa-stop").addClass("fa-location-arrow");
      }
    });
  });

  function typeWriter(element, text, index) {
    if (!isTyping) return;
    if (index < text.length) {
      element.append(text.charAt(index));
      typingTimeout = setTimeout(function () {
        typeWriter(element, text, index + 1);
      }, 5);
    } else {
      isTyping = false;
      $("#send i").removeClass("fa-stop").addClass("fa-location-arrow");
    }
  }

  function formatBotResponse(text) {
    text = text.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
    text = text.replace(/\*(.*?)\*/g, "<em>$1</em>");
    text = text.replace(/- (.*?)(\n|$)/g, "<li>$1</li>");
    text = text.replace(/(\<li>.*?\<\/li>)+/g, "<ul>$&</ul>");
    text = text.replace(/\d+\.\s(.*?)(\n|$)/g, "<li>$1</li>");
    text = text.replace(/(\<li>.*?\<\/li>)+/g, "<ol>$&</ol>");
    text = text.replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>');
    return text;
  }

  function scrollToBottom() {
    var messageBody = $("#messageFormeight");
    messageBody.scrollTop(messageBody.prop("scrollHeight"));
  }
</script>

    <!-- <script>
      let isTyping = false;
      let typingTimeout;

      $(document).ready(function () {
        $("#messageArea").on("submit", function (event) {
          event.preventDefault();

          if (isTyping) return; // Prevent multiple triggers

          isTyping = true;
          $("#send i").removeClass("fa-location-arrow").addClass("fa-stop");

          const date = new Date();
          const str_time = date.getHours() + ":" + date.getMinutes();
          var userText = $("#text").val().trim();

          if (userText === "") return;

          var userHtml = `
            <div class="d-flex justify-content-end mb-4">
              <div class="msg_cotainer_send">${userText}
                <span class="msg_time_send">${str_time}</span>
              </div>
              <div class="img_cont_msg">
                <img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg">
              </div>
            </div>`;

          $("#text").val("");
          $("#messageFormeight").append(userHtml);
          $("#loader").show();
          scrollToBottom();

          $.post("/get", { msg: userText }).done(function (data) {
            $("#loader").hide();

            var formattedResponse = formatBotResponse(data);
            var botHtml = `
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="https://cdn-icons-png.flaticon.com/512/387/387569.png" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  <span class="msg_text"></span>
                  <span class="msg_time">${str_time}</span>
                </div>
              </div>`;

            var botElement = $(botHtml);
            $("#messageFormeight").append(botElement);
            scrollToBottom();
            typeWriter(botElement.find(".msg_text"), formattedResponse, 0);
          });
        });

        $("#send").on("click", function () {
          if (isTyping) {
            clearTimeout(typingTimeout);
            isTyping = false;
            $("#send i").removeClass("fa-stop").addClass("fa-location-arrow");
          }
        });
      });

      function typeWriter(element, text, index) {
        if (!isTyping) return;
        if (index < text.length) {
          element.append(text.charAt(index));
          typingTimeout = setTimeout(function () {
            typeWriter(element, text, index + 1);
          }, 5);
        } else {
          isTyping = false;
          $("#send i").removeClass("fa-stop").addClass("fa-location-arrow");
        }
      }

      function formatBotResponse(text) {
        text = text.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
        text = text.replace(/\*(.*?)\*/g, "<em>$1</em>");
        text = text.replace(/- (.*?)(\n|$)/g, "<li>$1</li>");
        text = text.replace(/(\<li>.*?\<\/li>)+/g, "<ul>$&</ul>");
        text = text.replace(/\d+\.\s(.*?)(\n|$)/g, "<li>$1</li>");
        text = text.replace(/(\<li>.*?\<\/li>)+/g, "<ol>$&</ol>");
        text = text.replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>');
        return text;
      }

      function scrollToBottom() {
        var messageBody = $("#messageFormeight");
        messageBody.scrollTop(messageBody.prop("scrollHeight"));
      }
    </script> -->
  </body>
</html>